<div id="waitingContainer" style="display: none;">
    <div id="waitingContent">
        <div class="waitingSpinner"></div>
        <div id="waitingTextContainer">
            <h2>等待 Microsoft 驗證..</h2>
        </div>
    </div>
</div>