<div id="welcomeContainer" style="display: none;">
    <!--<div class="cloudDiv">
        <div class="cloudTop"></div>
        <div class="cloudBottom"></div>
    </div>-->
    <div id="welcomeContent">
        <img id="welcomeImageSeal" src="assets/images/SealCircle.png"/>
        <span id="welcomeHeader">感謝使用 憶蝶夢海 登入器</span>
        <span id="welcomeDescription">此登入器由 憶蝶夢海社群 小誠#2897(主要)扉之門#1436(技術指導)製作，我們會自動幫您更新至伺服器當前正在遊玩的模組包</span>
        <br>
        <span id="welcomeDescCTA">您只需要登入您的帳號即可遊玩 我們不堤供離線遊玩</span>
        <button id="welcomeButton">
            <div id="welcomeButtonContent">
                繼續
                <svg id="welcomeSVG" viewBox="0 0 24.87 13.97">
                    <defs>
                        <style>.arrowLine{fill:none;stroke:#FFF;stroke-width:2px;transition: 0.25s ease;}</style>
                    </defs>
                    <polyline class="arrowLine" points="0.71 13.26 12.56 1.41 24.16 13.02"/>
                </svg>
            </div>
        </button>
    </div>
    <script src="./assets/js/scripts/welcome.js"></script>
</div>